<form name="delete-post-form" method="post" action="{{ path('post_delete', {'id': post.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete post?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button name="delete-post-btn" type="submit" class="btn btn-sm"><i class="material-icons">delete</i></button>
</form>
