{% extends 'base.html.twig' %}

{% block title %}Edit Post: {{ post.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Edit Post: {{ post.id }}</h2>
            <hr>
            {{ include('post/_form.html.twig', {'button_label': 'edit post'}) }}
            <a class="pull-right btn btn-secondary" href="{{ path('post_index') }}"><< back to ledger</a>
        </div>
    </div>

{% endblock %}
