<form name="delete-user-form" method="post" action="{{ path('user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete user?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button name="delete-user-btn" type="submit" class="btn btn-sm"><i class="material-icons">delete</i></button>
</form>
