{% extends 'base.html.twig' %}

{% block title %}Edit User: {{ user.id }}{% endblock %}

{% block body %}
    <h2>Edit User: {{ user.id }}</h2>
    <hr>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="pull-right btn btn-secondary" href="{{ path('user_index') }}"><< back to ledger</a>
{% endblock %}
