{% extends 'base.html.twig' %}

{% block title %}Edit User: {{ user.id }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="h2-mt-10">Edit User: {{ user.id }}</h2>
            <hr>
            {{ include('user/_form.html.twig', {'button_label': 'edit user'}) }}

            <a class="pull-right btn btn-secondary" href="{{ path('user_index') }}"><< back to ledger</a>
        </div>
    </div>
{% endblock %}
