{% extends 'base.html.twig' %}

{% block title %}Register New User{% endblock %}

{% block body %}
    <h2><i class="material-icons">person</i> Register</h2>
    <hr>
    {{ include('user/_form.html.twig') }}

    <a class="pull-right btn btn-secondary" href="{{ path('user_index') }}"><< back to ledger</a>
{% endblock %}
